@{
    ViewData["Title"] = "Create / Edit Expense";
}

<div class="text-center py-6">
    <h1 class="text-4xl font-bold">Create or Edit an Expense</h1>
</div>

@model SpendSmart.Web.Models.ExpenseViewModel

<div class="max-w-lg mx-auto">
    <form asp-action="CreateEditExpenseForm" asp-controller="Home" class="space-y-6">
        <!-- Hidden ID field -->
        <input hidden asp-for="Id" class="input input-bordered" type="number" />

        <!-- Amount field -->
        <div class="form-control mb-2">
            <label class="label">
                <span class="label-text font-semibold">Value</span>
            </label>
            <input asp-for="Amount" class="input input-bordered bg-white border border-grey-300" type="number" placeholder="0" step="0.01" />
        </div>

        <!-- Description field -->
        <div class="form-control mb-2">
            <label class="label">
                <span class="label-text font-semibold">Description</span>
            </label>
            <input asp-for="Description" class="input input-bordered bg-white border border-grey-300" type="text" placeholder="Add a description" />
        </div>

        <!-- Expense Category field -->
        <div class="form-control mb-4">
            <label class="label">
                <span class="label-text font-semibold text-gray-700">Expense Category</span>
            </label>
            <select asp-for="Category" asp-items="Model.ExpenseCategories"
                    class="select select-primary w-full max-w-xs p-2 rounded-md bg-white text-gray-800 border border-gray-300 hover:border-blue-500 focus:ring focus:ring-blue-500 focus:border-blue-500">
                <option value="" disabled selected>Select expense type</option>
            </select>
            <span asp-validation-for="Category" class="text-red-500 text-sm"></span>
        </div>
        
        <!-- Submit button -->
        <div class="form-control mt-4">
            <button type="submit" class="btn btn-primary w-full">Submit</button>
        </div>
    </form>
</div>