@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="bg-blue-700 display-4">Welcome</h1>
    <a asp-controller="Home" asp-action="Expenses" class="btn btn-primary">Overview</a>
    <a asp-controller="Home" asp-action="CreateEditExpense" class="btn btn-secondary">Create new</a>
</div>
<div class="bg-blue-500 text-black font-bold p-4 rounded-lg">
    Tailwind CSS is working!
</div>

